// _variables.scss

$breakpoint-tablet: 768px;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$bg: #ff6060;
$bg-text-color: black;
$bg-accent: #f6f6f6;
$text-color: #ff6060;
$bg-text-color-inverse: white;
$bg-light: white;
$bg-dark: black;
