// _variables.scss

$breakpoint-tablet: 768px;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$bg: #ff6060;
$bg-text-color: black;
$bg-accent: #f6f6f6;
$text-color: #ff6060;
$bg-text-color-inverse: white;
$bg-light: white;
$bg-dark: black;

$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-17: 1.063rem;
$fs-18: 1.125rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-48: 3rem;
$fs-80: 5rem;
$fs-96: 6rem;
$fs-288: 18rem;
