// .header-container {
//     display: flex;
//     justify-content: space-between; /* Align items horizontally */
//     align-items: center; /* Align items vertically */
// }

// .button-container {

// }

// main {
//     display: flex;
//     flex-direction: column;
//     height: 68px;
//     margin: auto; /* Center horizontally */
//     max-width: 1240px; /* Use max-width instead of width for responsiveness */
//     min-height: 100vh; /* Use min-height to ensure the content is centered vertically */
// }

// .background {
//     height: 223px;
//     flex-shrink: 0;
//     border-radius: 25px;

//     background: #F6F6F6 url('../assets/background.png') no-repeat center center;
//     background-size: cover; // or 'contain' based on your preference
// }


    /* Styles specific to the about route */
    // color: violet;
    // a {
    //   color: orange;
    // }
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .button-container {
  
    }
  
    main {
      display: flex;
      flex-direction: column;
      // height: 68px;
    //   margin: auto; 
      max-width: 1240px; 
      min-height: 100vh; 
    }
  
    .background {
      height: 223px;
      flex-shrink: 0;
      border-radius: 25px;
  
      background: #F6F6F6 url('../assets/background.png') no-repeat center center;
      background-size: cover;
    }
