/* Styles specific to the home route */

#home-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0px 20px;
}

.background {
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;

    background: #f6f6f6 url("../assets/background.png") no-repeat center center;
    background-size: cover;
}
