@import "./../variables";

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
}

.error {
    color: $text-color;
    font-size: 288px;
    font-weight: $font-weight-bold;
    line-height: 8rem;
    @media (max-width: $breakpoint-tablet) {
        font-size: 96px;
    }
}

.error-message {
    color: $text-color;
    font-size: 36px;
    font-weight: $font-weight-medium;
    @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
        margin: 0px 30px;
    }
}

.return-home {
    font-size: 18px;
    font-weight: $font-weight-medium;
    text-decoration-line: underline;
    color: $bg-text-color;
    @media (max-width: $breakpoint-tablet) {
        font-size: 14px;
    }
}
