/* MyComponent.css */
.background-banner {
    width: 100%;
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    &.about {
        background-image: url("../../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash 2.png");
    }
    &.default {
        background-image: url("../../../assets/background.png");
    }

    display: flex;
    align-items: center;
    justify-content: center;
}

.background-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

.page-title {
    text-align: center;
    font-size: 32px; //à modifier
    color: white;
    position: relative;
    z-index: 1;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
}
