// buttons.scss

.home-button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    width: 136px;
    color: black;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
}

.about-button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    width: 136px;
    color: black;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
}
