.card {
  // width: 340px;
  // height: 340px;
  background-color: #ff6060;
  flex-shrink: 0;
  flex: 0 0 calc(33.333333% - 4em);
  aspect-ratio: 1 / 1;
  border-radius: 10px;

  display: flex;
  align-items: flex-end;
}

.card-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  color: white;
  width: 50%;
  
}
