@import "./../variables";

/* DropDownAnimation.css */

.dropdown-container {
    display: flex;
    flex-direction: column;
    color: var(--bg-text-color);
    width: 100%;
}

.dropdown-content {
    display: block;
    background-color: var(--bg-accent);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    animation: fadeIn 0.3s ease-in-out; /* Add animation */
}

.dropdown-container .dropdown-content a {
    color: white;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a {
    display: flex;
    align-items: center;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--bg);
    border-radius: 5px;
}

.dropdown-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 20px;
        font-size: 13px;
    }
}

.arrow-icon {
    transition: transform 0.3s ease-in-out;
}

.arrow-icon.open {
    transform: rotate(180deg);
}
