/* footer.scss */

@import "./../variables";

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $bg-text-color-inverse;
    background-color: $bg-dark;
    align-items: center;
    width: 100%;
    flex-shrink: 0; /* Prevent footer from shrinking */
    justify-content: space-around;
    gap: 30px;
    padding-top: 66px;
    padding-bottom: 30px;
    @media (max-width: $breakpoint-tablet) {
        gap: 15px;
        padding-bottom: 58px;
    }
    .svg-container {
        height: 40px;
        @media (max-width: $breakpoint-tablet) {
            width: 122px;
        }
    }
    span {
        font-size: $fs-24;
        font-weight: $font-weight-medium;
        @media (max-width: $breakpoint-tablet) {
            width: 122px;
            font-size: $fs-12;
        }
    }
}