@use "./card.scss" as c;

// Define styles for desktop layout within a media query
@media (min-width: 768px) {
    .card-container {
        @include c.card-container;

        .card {
            @include c.card;
            flex-basis: calc(
                (100% - (4 * 3.125rem)) / 3
            ); // Assuming 3 items per row with 4 space of 3.125rem
        }
    }
}

// Define styles for mobile layout within a media query
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-container {
        @include c.card-container;

        .card {
            @include c.card;
            flex-basis: calc(
                (100% - (3 * 3.125rem)) / 2
            ); // Assuming 2 items per row with 3 space of 3.125rem
        }
    }
}

@media (max-width: 575.98px) {
    .card-container {
        @include c.card-container;
        background-color: transparent;
        gap: 20px;
        padding: 0;

        .card {
            @include c.card;
            height: 100%;
            flex-basis: 100%;
        }
    }
}
