/* header.scss */

@import "./../variables";

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: $text-color;
    margin-top: 45px;
    max-width: 1240px;
    width: 100%;
    align-content: center;
    flex-shrink: 0; /* Prevent footer from shrinking */

    @media (max-width: $breakpoint-tablet) {
        margin: 20px 20px 0px 20px;
        width: calc(100% - 40px);
        .svg-container svg {
            width: 145px;
        }
        gap: 0;
    }
    .svg-container {
        height: 68px;
        @media (max-width: $breakpoint-tablet) {
            width: 122px;
        }
    }
    .navigation-container {
        display: flex;
        gap: 57px;
        @media (max-width: $breakpoint-tablet) {
            gap: 26px;
        }
        .nav-link {
            cursor: pointer;
            color: $bg-text-color;
            font-size: $fs-24;
            @media (max-width: $breakpoint-tablet) {
                font-size: $fs-16;
            }
            &.active {
                text-decoration-line: underline;
            }
        }
    }
}