@import "./../variables";

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #ff6060;
    margin-top: 45px;

    max-width: 1240px;
    width: 100%;

    align-content: center;
    flex-shrink: 0; /* Prevent footer from shrinking */

    @media (max-width: $breakpoint-tablet) {
        margin: 20px 20px 0px 20px;
        width: calc(100% - 40px);
        .svg-container svg {
            width: 145px;
        }
        gap: 0;
    }
}

.header-container .svg-container {
    height: 68px;
    @media (max-width: $breakpoint-tablet) {
        width: 122px;
    }
}

.nav-link {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    color: black;
    text-align: right;
    font-family: Montserrat;
    font-size: 1.5rem;
    @media (max-width: $breakpoint-tablet) {
        font-size: 1rem;
    }
}

.nav-link.active {
    text-decoration-line: underline;
}

.navigation-container {
    display: flex;
    gap: 57px;
    @media (max-width: $breakpoint-tablet) {
        gap: 26px;
    }
}
