@import "./../variables";

#nextImageButton {
    color: $bg-text-color-inverse;
    font-size: $fs-80;
    position: absolute;
    right: 25px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $breakpoint-tablet) {
        font-size: $fs-24;
    }
}

#nextImageButton:hover {
    cursor: pointer; /* Change cursor shape on hover */
}
