@import "./../variables";

#previousImageButton {
    color: $bg-text-color-inverse;
    font-size: 80px;
    position: absolute;
    left: 25px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $breakpoint-tablet) {
        font-size: 24px;
    }
}

#previousImageButton:hover {
    cursor: pointer; /* Change cursor shape on hover */
}
