.selected-card {
    width: 1240px;
    display: flex;
    flex-direction: column;
}

// .selected-card-cover {
//     height: 415px;
//     min-width: 100%;
//     object-fit: cover;
//     object-position: center;
// }
#cardTitle {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */
}

#cardLocation {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}

#cardTagsContainer {
    display: flex;
    gap: 10px;
}

.cardTags {
    border-radius: 10px;
    background: #ff6060;
    min-width: 115px;
    padding: 0 10px;
    height: 25px;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center;
}

#dropDownAnimationContainer {
    display: flex;
    gap: 50px;
}
#textContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* This ensures equal height */
}
#leftSideContainer,
#rightSideContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
}

#hostContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

#hostName {
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}

#hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

#hostRating {
}
