@import "./../variables";

.selected-card {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    @media (max-width: $breakpoint-tablet) {
        max-width: 100%;
        margin: 0px 20px;
        gap: 15px;
    }
}

#cardTitle {
    color: $text-color;
    font-size: 36px;
    font-weight: $font-weight-medium;
    @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
    }
}

#cardLocation {
    color: $bg-text-color;
    font-size: 18px;
    font-weight: $font-weight-medium;
}

#cardTagsContainer {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-tablet) {
        flex-wrap: wrap;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.cardTags {
    border-radius: 10px;
    background: $bg;
    min-width: 115px;
    padding: 0 10px;
    height: 25px;
    flex-shrink: 0;

    color: $bg-text-color-inverse;
    text-align: center;
    font-size: 14px;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center;
    @media (max-width: $breakpoint-tablet) {
        font-size: 10px;
        min-width: 84px;
    }
}

#dropDownAnimationContainer {
    display: flex;
    gap: 50px;
}
#textContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* This ensures equal height */
    flex-wrap: wrap;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 20px;
    }
}
#leftSideContainer,
#rightSideContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
    }
}

#leftSideContainer {
    @media (max-width: $breakpoint-tablet) {
        gap: 10px;
    }
}
#rightSideContainer {
    @media (max-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: center;
    }
}

#hostContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: row;
        order: 1; /* default is 0 */
    }
}

#hostName {
    color: $text-color;
    text-align: right;
    font-size: 18px;
    font-weight: $font-weight-medium;
    word-spacing: 500px;
    @media (max-width: $breakpoint-tablet) {
        font-size: 12px;
    }
}

#hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    @media (max-width: $breakpoint-tablet) {
        width: 32px;
        height: 32px;
    }
}

#dropDownContainer {
    flex-basis: 100%; /* Force the  container to take full width making it go on a second line */
    display: flex;
    gap: 75px;
    align-items: flex-start;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 20px;
        font-size: 13px;
    }
}